<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.som.test.lesson06.dao.FavoriteDAO">
 
	 <insert id="insertFavorite" parameterType="map">
	 		INSERT INTO `favorite`
				(
					`name`
		 			, `url`
		 			, `createdAt`
		 			, `updatedAt`
				)
				VALUES
				(
					#{name}
					, #{url}
					, now()
					, now()
				)
	 	</insert>
 

 	<select id="selectFavorite" resultType="com.som.test.lesson06.model.Favorite">
 		SELECT 
 			`id`
 			, `name`
 			, `url`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`favorite`	
 	</select>
 	
 	<select id="selectDuplicateUrl" parameterType="String" resultType="int">
 		SELECT 
 			count(*)
 		FROM 
 			`favorite`	
 		WHERE
 			`url` = #{url}	
 	</select>
 	
 	<delete id="deleteFavorite" parameterType="int">
 		DELETE FROM `favorite`
 		WHERE `id` = #{id}
 	
 	</delete>
 	
 </mapper>